<!DOCTYPE html>
<html ng-app="citiesApp">
  <head>
    <meta charset="utf-8">
    <title>Place Cities on Relief Map</title>
    <link rel="stylesheet" href="../css/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cities.css"/>

    <script src="../js/vendor/modernizr.js"></script>
    <script src="../js/cities.js"></script>
  </head>
  <body ng-controller="LevelCtrl">
    <div ng-controller="MenuCtrl" ng-if="layers.indexOf('menu') !== -1">
      <ul class="menu" >
	<li ng-repeat="item in items" class="menuitem" ng-mouseenter="item.showExplanation = true" ng-mouseleave="item.showExplanation = false" ng-click="select(item)">{{ item.label }}</li>
      </ul>
      <div class="explanation">
	<span ng-repeat="item in items" ng-if="item.explanation !== undefined && item.showExplanation" ng-bind-html="item.explanation"></span>
      </div>
    </div>
    <svg ng-controller="SvgCtrl" style="display:block" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" xmlns:xlink="http://www.w3.org/1999/xlink">
      <image ng-controller="TopoMapCtrl" x="0" y="0" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" preserveAspectRatio="xMaxYMin" xlink:href="../images/nz_relief_map.jpg" ng-if="layers.indexOf('topo-map') !== -1"/>
      <image ng-controller="LocationMapCtrl" x="0" y="0" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" preserveAspectRatio="xMaxYMin" xlink:href="../images/nz_location_map.svg" ng-if="layers.indexOf('location-map') !== -1"/>
      <image ng-controller="BlankMapCtrl" x="0" y="0" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" preserveAspectRatio="xMaxYMin" xlink:href="../images/nz_blank_map.svg" ng-if="layers.indexOf('blank-map') !== -1"/>
      <g ng-controller="CityMarkersCtrl" ng-if="layers.indexOf('markers') !== -1">
	<circle class="city" ng-attr-cx="{{ city.cx }}" ng-attr-cy="{{ city.cy }}" ng-attr-r="{{ city.r }}" ng-repeat="city in cities"/>
      </g>
      <g ng-controller="CityLabelsCtrl" ng-if="layers.indexOf('labels') !== -1">
	<text class="citylabel" ng-attr-x="{{ city.x }}" ng-attr-y="{{ city.y }}" font-size="{{ city.fontsize }}" ng-repeat="city in cities">{{ city.label }}</text>
      </g>
      <g ng-controller="SelectCtrl" ng-if="layers.indexOf('selection') !== -1">
	<circle id="cursor-shadow" ng-attr-cx="{{ cx }}" ng-attr-cy="{{ cy }}" ng-attr-r="{{ r }}"/>
      </g>
    </svg>
  </body>
</html>
