circle#cursor-shadow {
    fill-opacity: .3;
    fill: #AA0050;
    stroke: #AA0050;
    stroke-opacity: .2;
    stroke-width: 1;
    cursor: crosshair;
}

circle.city {
    cursor: pointer;
    fill-opacity: .5;
    fill: #885500;
    stroke: #885500;
    stroke-opacity: .8;
    stroke-width: 1;
}

circle.city:hover {
    fill-opacity: .9;
}

text.citylabel {
    font-family: Verdana;
    font-weight: bold;
    fill: #BB5500;
}

ul.menu {
   font-size: 1.4em;
   list-style-type: none;
   margin: 1em 30% 1em 30%;
}

li.menuitem {
    background-color: #88CC44;
    border: solid 8pt black;
    border-radius: 30px 0px 30px 0px;
    padding: 1em;
    margin: 10pt;
    font-weight: bold;
    text-align: center;
}

li.menuitem:hover {
    background-color: #AAFF44;
    cursor: pointer;
}

.explanation {
    border: solid 1px back;
    font-size: 1.2em;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 20%;
}

.back {
    color: #882200;
    font-family: Times New Roman;
    font-size: 50px;
    font-weight: bold;
    left: 0px;
    width: 45px;
    height: 45px;
    overflow: none;
    margin: 0px 15px;
    position: fixed;
    top: 0px;
}

.back button {
    background-color: transparent;
    border: none;
}

.back:hover {
   color: black;
}

.question {
    color: #882200;
    font-size: 1.5em;
    left: 0px;
    position: fixed;
    text-align: center;
    top: 20px;
    width: 100%;
}

.question .city {
    font-weight: bold;
}

.answer {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.answer .stripe {
    padding: 150px 0 0 0;
}

.answer .text, .answer .tagline {
    background-color: rgba(206, 104, 70, .5);
    color: #882200;
    padding: 1em;
    text-align: center;
}

.answer .text {
    font-size: 1.5em;
}

.answer .tagline {
    font-size: 2em;
    padding: 20px;
}
